@model InventoryManagement.Models.Purchase

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Purchase</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseId" />
            <div class="form-group">
                <label asp-for="ProductPurchased.Name" class="control-label"></label>
                <div>@ViewBag.product</div>
                @*<select asp-for="ProductId" class="form-control" asp-items="ViewBag.product"></select>*@
                @*<input asp-for="ProductId" class="form-control" asp-items="ViewBag.product" />*@
                <span asp-validation-for="ProductPurchased.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseQuantity" class="control-label"></label>
                <input asp-for="PurchaseQuantity" class="form-control" />
                <span asp-validation-for="PurchaseQuantity" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>*@
             <div class="form-group row pt-3">
                <div class="col-8 text-center row">
                    <div class="col">
                        @*<input type="submit" value="Save" class="btn btn-primary" />*@
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                    <div class="col">
                        <a asp-action="DisplayPurchase" class="btn btn-danger w-75">Back</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
